.nav {
    display: flex;

}

.profileimage {
    border-radius: 200px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border: solid rgb(182, 212, 44) 7px;
}

.payment {
    background-color: black;
    border-radius: 50px;

}

.amount {
    color: white;
    margin-top: 0px;
    padding-top: 30px;

}

.notification {
    margin-left: 260px;
}


@media(max-width:768px)





{
    .tradebox {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .tradegiftcard {
        background: black;
        height: 60px;
        width: 120px;
        color: rgb(182, 212, 44);
        margin-left: 20px;
        text-align: center;
        border-radius: 10px;
        border: solid rgb(182, 212, 44) 5px;

    }

    .tradebitcoins {
        background: black;
        height: 60px;
        width: 120px;
        color: rgb(182, 212, 44);
        margin-right: 20px;
        text-align: center;
        border-radius: 10px;
        border: solid rgb(182, 212, 44) 5px;

    }

    .bootom {
        position: fixed;
        display: flex;
        background-color: black;
        margin-top: 130px;
        width: 386px;
        height: 85px;
/*         border-radius: 20px; */
         border-top-left-radius: 50px;
         border-top-right-radius: 50px;
        border: solid rgb(182, 212, 44) 5px;
        margin-right: 10px;
    }

    .paybill {
        color: wheat;
        margin-left: 8px;
        background-color: black;
        height: 27px;
        width: 95px;
        text-align: center;
        margin-top: 15px;
    }

    .paybill1 {
        margin-top: 7px;
    }

    .wallet {
        color: wheat;
        margin-left: 35px;
        background-color: black;
        height: 45px;
        width: 95px;
        text-align: center;
        margin-top: 15px;
    }

    .wallet1 {
        margin-top: 7px;
    }

    .profile {
        color: wheat;
        margin-left: 55px;
        background-color: black;
        height: 45px;
        width: 95px;
        text-align: center;
        margin-top: 15px;
    }

    .profile1 {
        margin-top: 7px;
    }





    .trade {
        border-radius: 20px;
        background-color: black;
        width: 100px;
        height: 100px;
        color: rgb(201, 230, 41);
    }



    .notification {
        background-color: rgb(206, 199, 199);
        color: rgb(19, 18, 18);
        margin-left: 210px;
        height: 50px;
        width: 50px;
        margin-top: 60px;
        border-radius: 50px;
        text-align: center;

    }

    .amount {
        color: white;
        margin-left: 30px;
        padding-top: 50px;

    }

    .amount1 {
        color: white;
        padding-top: 0px;
        margin-left: 20px;
        /* padding-top: 40px; */
        color: rgb(182, 212, 44);
        height: 40px;
        width: 155px;
        text-align: center;
        border-radius: 20px;

    }

    .payment {
        background-color: black;
        border-radius: 50px;
        height: 200px;
        width: 290px;
        margin-left: 40px;
        margin-top: 20px;
        justify-items: centerk;

    }

    .profileimage {
        border-radius: 300px;
        width: 100px;
        height: 100px;
        margin-top: 29px;
        margin-left: 23px;
        border: solid rgb(182, 212, 44) 5px;
    }

    .name {
        margin-left: 20px;


    }

    .naira {
        color: white;
    }

    .nairadiv {
        display: flex;
        margin-top: 10px;   
    }

}


